* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #030616;
}

.detailHearder {
  width: 100%;
  height: 400px;
  position: relative;
}

#detailHearder {
  width: 100%;
  height: 400px;
}

.detailHearder_container {
  width: 70%;
  height: 90%;
  margin: auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }

.detailHearder_overline {
  display: flex;
  }

.detailHearder_overlineIcon {
  padding-right: 10px;
  }
  
.detailContainer {
  width: 70%;
  margin: auto;
  color: #ffffff;
}

.detailContainer_bar{
  background-color: #24262e;
  display: flex;
  justify-content: space-between;
}

.detailContainer_price{
  padding: 30px;
}

.detailContainer_button{
  padding: 10px;
}

.detailContainer_desc {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.detailContainer_photo {
  margin: 50px;
  margin-top: 0px;
}

.detailContainer_text {
  font-size: 10px;
  width: 608px;
  height: 396px;
}





