.list-videogames {
    margin-left: 150px;
    margin-right: 150px;
  }

.rectangle {
  width: 139px;
  height: 43px;
  margin: 15px 0 5px 52px;
  padding: 14px 20px 13px;
  border-radius: 4px;
  background-color: #2529d8;
}

.divPrincipal {
    position: relative;
    display: inline-block;
}

.awarded {
    margin-left: 200px;
    top: 200px;
    position: absolute;
}
.name {
  width: 100%;
  color: #ffffff;
}

.button {
    color: #ffffff;
    font-size: 13px;
  }


.tittle {
    top: 1000px;
    position: absolute;
    width: 100%;
    color: #ffffff;
    margin-left: 200px;
    left: 0px;
    margin-top: 0px;
  }

.videogame-info {
    display: flex;
}

.Simplified-homepage {
    width: 1920px;
    height: 2301px;
    padding: 0 0 167px;
    background-color: #030616;
  }

  .-USD {
    height: 36px;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 3%;
  }

  .image{
    border-radius: 4%;
  }

  .League-of-legends_Background {
    position: relative;
    width: 1920px;
    height: 999.4px;
    object-fit: contain;
    opacity: 0.5;
    background-image:   linear-gradient(to right, rgba(3, 6, 22, 0) 69%, #030616), 
                        linear-gradient(to bottom, rgba(3, 6, 22, 0), rgba(3, 6, 22, 0.02) 52%, #030616 97%), 
                        radial-gradient(circle at 56% 54%, rgba(3, 6, 22, 0), #030616 79%);
  }
  
  .displayVideogames {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .displayVideogames > div {
    margin: 20px;
  }