.videogamePrincipal {
    position: absolute;
    top: 300px;
    margin-left: 200px;
}

.nameGamePrincipal {
    width: 609px;
    height: 85px;
    margin: 95px 1080px 11px 0;
    font-size: 72px;
    color: #ffffff;
  }

.desc {
    color: grey;
    font-size: 15px;
    width: 501px;
    height: 72px;
}

.addFavorites {
    color:  #ffffff;
    font-size: 13px;
    background-color: grey;
  }

.buttonFavorites {
    width: 170px;
    height: 43px;
    padding: 14px 20px;
    border-radius: 4px;
    background-color: grey;
}

.butonInstall {
  margin-left: 0px;
  margin-right: 20px;
}